# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [2]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [3]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [5]:
#  1. Get the total rides for each city type
rides_by_city_type = pyber_data_df.groupby(["city"]).count()["ride_id"]
rides_by_city_type

city
Amandaburgh         18
Barajasview         22
Barronchester       16
Bethanyland         18
Bradshawfurt        10
                    ..
West Robert         31
West Samuelburgh    25
Williamsonville     14
Williamsstad        23
Williamsview        20
Name: ride_id, Length: 120, dtype: int64

In [11]:
# 2. Get the total drivers for each city type
driver_by_city_type = pyber_data_df.groupby(["city"]).sum()["driver_count"]
driver_by_city_type

city
Amandaburgh          216
Barajasview          572
Barronchester        176
Bethanyland          396
Bradshawfurt          70
                    ...
West Robert         1209
West Samuelburgh    1825
Williamsonville       28
Williamsstad        1357
Williamsview         920
Name: driver_count, Length: 120, dtype: int64

In [12]:
#  3. Get the total amount of fares for each city type
fare_by_city_type = pyber_data_df.groupby(["city"]).sum()["fare"]
fare_by_city_type

city
Amandaburgh         443.55
Barajasview         557.31
Barronchester       582.76
Bethanyland         593.21
Bradshawfurt        400.64
                     ...
West Robert         778.84
West Samuelburgh    544.19
Williamsonville     446.25
Williamsstad        560.33
Williamsview        531.98
Name: fare, Length: 120, dtype: float64

In [13]:
#  4. Get the average fare per ride for each city type. 
ave_fare_per_ride = fare_by_city_type/rides_by_city_type

In [14]:
# 5. Get the average fare per driver for each city type. 
ave_fare_per_driver = fare_by_city_type/driver_by_city_type

In [22]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({
    
    'Total Rides': rides_by_city_type,
    'Total Drivers': driver_by_city_type,
    'Total Fares': fare_by_city_type,
    'Average Fare per Ride': ave_fare_per_ride,
    'Average Fare per Driver': ave_fare_per_driver
})
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
city,,,,,
Amandaburgh,18,216,443.55,24.641667,2.053472
Barajasview,22,572,557.31,25.332273,0.974318
Barronchester,16,176,582.76,36.422500,3.311136
Bethanyland,18,396,593.21,32.956111,1.498005
Bradshawfurt,10,70,400.64,40.064000,5.723429
...,...,...,...,...,...
West Robert,31,1209,778.84,25.123871,0.644202
West Samuelburgh,25,1825,544.19,21.767600,0.298186
Williamsonville,14,28,446.25,31.875000,15.937500
Williamsstad,23,1357,560.33,24.362174,0.412918
Williamsview,20,920,531.98,26.599000,0.578239

In [24]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')